<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Result of Blast</title>
</head>
<body>
    <h1 align="center">Result of Blast</h1>
    <p>Summary</p>
    <div class="container">
    {{ summary }}
</div>
    <img src="C:\Users\Kasior\PycharmProjects\Blast_Parser\static\pie.png"  height="400" width="500">
    <img src="static/percent.png"  height="400" width="500">
    <img src="static/length.png"  height="400" width="500">
    <img src="static/identities.png"  height="400" width="500">
    <img src="static/gaps.png"  height="400" width="500">

    <p>Means for all data</p>
<div>
    <div>
        {{ means_all }}
    </div>
    <h4 align="center">Normal alignments</h4>
    <p>Means for normal alignments</p>
    <div> {{means_normal}}</div>
    <p>Details</p>

    {% for n in range(n) %}
        <p>{{species[n]}}</p>
        <div>{{ normal[n]}}</div>
    {% endfor %}
     <h4 align="center">Predicted alignments</h4>
    <p>Means for predicted alignments</p>
    <div> {{means_pred}}</div>
    <p>Details</p>

    {% for n_pred in range(n_pred) %}
        <p>{{species_pred[n_pred]}}</p>
        <div>{{ predicted[n_pred]}}</div>
    {% endfor %}
        </div>
    <p>Divided by species in normal alignments</p>
<div> {{species_divided_normal}}</div>
<p>Divided by species in predicted alignments</p>
<div>{{species_divided_pred}}</div>

</body>
</html>