<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Result of Blast</title>
</head>
<body>
    <h1 align="center">Result of Blast</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">Summary</div>
      <div class="panel-body">{{summary}}</div>
    </div>

    <img src="{{path_pie}}" class="center">
     <img src="{{path_percent}}"   class="center">
     <img src="{{path_gaps}}"   class="center">
     <img src="{{path_identities}}"  class="center">
     <img src="{{path_length}}"   class="center">



    <!--<p>Summary</p>-->
    <!--<div class="container">-->
    <!--{{ summary }}-->
<!--</div>-->
    <!--<img src="C:\Users\Kasior\PycharmProjects\Blast_Parser\static\pie.png"  height="400" width="500">-->
    <!--<img src="static/percent.png"  height="400" width="500">-->
    <!--<img src="static/length.png"  height="400" width="500">-->
    <!--<img src="static/identities.png"  height="400" width="500">-->
    <!--<img src="static/gaps.png"  height="400" width="500">-->

    <div class="panel panel-primary">
      <div class="panel-heading">Means for all data</div>
      <div class="panel-body">{{ means_all }}</div>
    </div>

    <h4 align="center">Normal alignments</h4>
    <div class="panel panel-primary">
      <div class="panel-heading">Means for normal alignments</div>
      <div class="panel-body">{{means_normal}}</div>
    </div>

    <h6 align="center">Details</h6>
    {% for n in range(n) %}
        <div class="panel panel-info">
            <div class="panel-heading">{{species[n]}}</div>
            <div class="panel-body">{{ normal[n]}}</div>
        </div>
    {% endfor %}

    <h4 align="center">Predicted alignments</h4>
    <div class="panel panel-primary">
      <div class="panel-heading">Means for predicted alignments</div>
      <div class="panel-body">{{means_pred}}</div>
    </div>

    <h6 align="center">Details</h6>
    {% for n_pred in range(n_pred) %}
        <div class="panel panel-info">
            <div class="panel-heading">{{species_pred[n_pred]}}</div>
            <div class="panel-body">{{ predicted[n_pred]}}</div>
        </div>

    {% endfor %}

    <h4 align="center">Divided by species in normal alignments</h4>
    <div> {{species_divided_normal}}</div>

    <h4 align="center">Divided by species in predicted alignments</h4>
    <div>{{species_divided_pred}}</div>

</body>
</html>